
@{
    ViewData["Title"] = "Index";
}

<h2>Admin Panel</h2>

@Html.ActionLink("Add doctor", "AddDoctor", "Admin", new { }, new { @class = "btn btn-success" })
@Html.ActionLink("Add doctor spetialization", "AddDoctorSpetialization", "Admin", new { }, new { @class = "btn btn-success" })
