@model online_doctor.Models.Section

@{
    ViewData["Title"] = "AddSection";
}

<h2>Добавить секцию</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SectionName" class="control-label"></label>
                <input asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="field-validation-error" style="color:brown;">@Html.DisplayFor(model => Model.ErrorMessage)</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить секцию" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

