@model online_doctor.Models.Subsection

@{
    ViewData["Title"] = "AddSubsection";
}

<h2>AddSubsection</h2>

<h4>Subsection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSubsection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubsectionName" class="control-label"></label>
                <input asp-for="SubsectionName" class="form-control" />
                <span asp-validation-for="SubsectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSection" class="control-label"></label>
                <input asp-for="IdSection" class="form-control" />
                <span asp-validation-for="IdSection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

